# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\WHJR-Tanish Master\Own-Game-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
